*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{

    margin:0;
}

#container{
    width:1000px;
    padding:10px;
    background-color:azure;
}

#WebsiteTitle{
    padding:5px;
    margin: 10px 0px 0 0;
    background-color: aqua;
    text-align: center;
}

#navigationBar{
    background-color: aqua;
    padding:10px;
    margin:0px;
    text-align: center;
    font-size:large;
    color:black;
    a{
        text-decoration: none;
        color:black;
        margin-right: 10px;
        margin-left: 10px;
    }
}

section{
    float:left;
}

#lateralBar{
    position: relative;
    float:left;
    background-color: aquamarine;
    margin:20px;
    
    figcaption{
        text-align: center;
        font-style: italic;
    }
}


img{
    width:200px;
    height:auto;
    border-radius: 10px;

}

#finalBar{
    clear:both;
}

footer{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
    margin: 0px;
    padding: 10px;
}