*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

h1{
    font-style: italic;
}

p{
    margin:15px 10px 10px;
    word-spacing: 10px;
    text-decoration: underline;
    text-transform: capitalize;
}

.container{
    width:200px;
    height: 120px;
    white-space: nowrap;
    border: 5px solid;
    border-color: black;
    /*Overflow para meter todo el texto dentro de cajita*/
    overflow:auto;
}